/* Sidebar formatting */
.sidebar {
  position: fixed;
  height: 900px;
  width: 300px;
  background-color: #f4f4f4;
  transition: transform 0.3s ease;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  z-index: 1000;
  top: 20px;
  left: 20px;
}

/* The translation that occurs when the close button is toggled (moves left of screen) */
.sidebar.closed {
  transform: translateX(-110%);
}

/* Sidebar open state */
.sidebar.open {
  transform: translateX(0%); /* Sidebar stays in place when open */
}

/* Gives us padding for the x button and logo on the sidebar */
.sidebar ul {
  list-style: none;
  padding: 60px 10px 10px;
  margin: 0;
}

/* Hamburger button formatting */
.hamburger-btn {
  position: fixed;
  top: 36px;
  left: 36px;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer;
  z-index: 1100;
}

/* When sidebar is open, content shifts */
body.sidebar-open div.main-content {
  transform: translateX(300px);
}

/* Hide hamburger button when sidebar is open */
body.sidebar-open .hamburger-btn {
  display: none;
}

/* Sidebar Button Styling for navigation buttons */
.sidebar .sidebar-btn {
  background: none;
  border: none;
  font-size: 2rem; 
  font-weight: 500; 
  color: #000000; 
  padding: 10px 10px; 
  text-align: left; 
  width: 100%;
  cursor: pointer; 
  margin: 10px 0;
  border-radius: 12px;
}

/* Hover effect for sidebar buttons */
.sidebar .sidebar-btn:hover {
  background-color: #FDE9BF; 
}

/* Close button formatting (excluded from sidebar-btn styles) */
.close-btn {
  position: absolute;
  top: 10px;
  left: 20px;
  background: transparent;
  border: none;
  font-size: 64px;
  cursor: pointer;
}

.sidebar-logo {
  position: absolute;
  top: 20px;
  right: 20px;
}

.sidebar-logo img {
  width: 60px; /* Adjust size as needed */
  height: auto;
}

.sidebar-btn.active {
  background-color: #FCD581;
}