.sidebar {
    width: 300px;
    height: 100vh;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
  }

.sidebar ul {
    list-style-type: none;
    padding: 0;
  }

.sidebar li {
    margin: 20px 0;
  }
