.order-history-summary {
    display: flex;
    width: 557px;
    height: 754px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-radius: 16px;
    background: #FFF;
}
.top-history-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.order-history-number {
    color: #000;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.table-history-number {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.middle-history-section {
    display: flex;
    height: 309px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
}

.order-history-item {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    background: #E5E7EB;
}

.order-history-item-name {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.order-history-item-qty {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom-history-section {
    display: flex;
    width: 557px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    bottom: 0px;
    border-radius: 16px 16px 0px 0px;
    background: #FFF;
    box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.12);
}

.summary-history-title {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.summary-history-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.detail-history-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.detail-history-name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.detail-history-qty {
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}