/* Card.css */
.card {
  width: 150px;
  height: 80px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  background-color: #E5E7EB;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.card-content {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
}

.card-description {
  font-size: 1rem;
  color: #555;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.trash-icon-button {
  margin-top: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.edit-button {
  margin-top: 10px;
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.card-actions-header {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: flex-end; /* Align to the right */
}

.edit-button:hover {
  background: none;
}

.card-info {
  flex-grow: 1;
}