  .create-menu-item-button {
  margin-top: 10px;
  padding: 8px 14px;
  background-color: #fde9bf;
  border-radius: 16px;
}

.create-menu-item-button:hover {
  background-color: #ffd966;
}

.filter-bubble {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #fcd58180;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    min-width: 69px;
    height: 69px;
    font-weight: 600;
}

.filter-bubble.active {
    background-color: #fcd581;
}

.action-button {
    padding: 8px 16px;
    border-radius: 20px;
    background-color: #FCD581;
    cursor: pointer;
    height: 69px;
}