.add-promotion-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #FCD581;
    color: black;
    font-size: 28px;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  