:root {
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 20px;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; /* space between bubbles */
  margin-bottom: 10px;
  padding-top: 10px;
}

.filter-bubble {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #fcd58180;
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s;
}

.filter-bubble.active {
  background-color: #fcd581;
}

.header-text {
  display: inline-block;
  flex-grow: 1;
  padding-right: 20px;
}

.app-container {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 40px;
  align-items: flex-start;
  gap: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.app-container.sidebar-closed {
  gap: 0 !important;
}

.main-content {
  flex-grow: 1;
  min-width: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  flex: 1;
  align-self: stretch;
  overflow: auto;
}
