.container {
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    width: 95%;
    height: fit-content;
    padding:10px 10px;
    justify-content: center;
}

.questions {
    background: #ffffff;
    font-family: 'Inter', sans-serif;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #e0e0e0;
    padding:10px 10px;
}
