.supplier-block {
  margin-bottom: 2rem;
}

.supplier-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 0.25rem;
}

.supplier-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* makes columns evenly spaced */
}

.supplier-table th,
.supplier-table td {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: transparent;
  border-right: transparent;
  padding: 8px;
  text-align: center;
  vertical-align: top;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.supplier-table thead th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.dropdown-toggle {
  cursor: pointer;
  color: black;
  margin-bottom: 0.25rem;
  text-align: center;
}

.dropdown-content {
  margin-top: 0.25rem;
  list-style: disc;
  padding-left: 1rem;
}

.add-supplier-btn {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 80%;
  color: black;
  border: none;
  cursor: pointer;
}
