.change-details {
  display: flex;
  width: 90%;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-radius: 16px;
  background: #fff;
}

.qty-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 8px;
}

.payment-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.section-qty {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.recieved-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e7eb;
}

.input-text {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button:hover:not(:disabled) {
  background-color: #ffc107; /* Optional: subtle hover effect */
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
