.card-container {
  display: flex;        
  align-items: flex-start;  
}

.card-description {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #555;
}

.card-description .price {
  margin-right: 1rem;
}

.add-button {
  margin-left: auto;
}

.card-ingredients {
  font-size: 0.9rem;
  color: #555;
  margin-top: 0.5rem;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Keep items top-aligned */
  gap: 0.5rem;
}

.card-title {
  flex: 1;
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
  word-break: break-word; /* Allows title to break naturally on smaller screens */
}


.card-disabled {
  background-color: #f0f0f0;
  opacity: 0.6;
  border: 1px solid #ccc;
}

.add-to-order-btn {
  background-color: #ffd966;
  color: #000000;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;  
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.add-to-order-btn:hover {
  background-color: #333333;   /* Optional: subtle hover effect */
}
.add-to-order-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
  