/* POS Menu Controls css file */

.filter-bubble {
  font-size: 1.1rem;         
  padding: 0.6rem 1.2rem;    
  border-radius: 20px;
  background-color: #eee;
  border: none;
  cursor: pointer;
  margin: 0.3rem;
  transition: background-color 0.2s ease;
}

.filter-bubble.active {
  background-color: #ffd966;
  color: #000;
}
